@model Aws_web_app.Models.Expense


@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Expense Manager</h1>
    <br />

    <a asp-action="Expense" class="btn btn-primary">Expense</a>
    <a asp-action="Index" asp-controller="CreateExpense" class="btn btn-danger">Create</a>
</div>
