@model Aws_web_app.Models.Expense


@{
    ViewData["Title"] = "Supriseeeeeeeeee!!!!";
}
<style>
    body {
        background-image: url('https://i.pinimg.com/originals/12/9c/b2/129cb2d1ef4adaf5bf6ac231fd2ad93f.gif'); /* path to image */
        background-size: cover; /* makes it cover full screen */
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh; /* full screen height */
        margin: 0;
    }
</style>

<body>
<div class="text-center">
    <h1 class="display-4">I Love you cutieee ❤❤❤💋💋💋💋</h1>
    <br />
    <div class="d-flex justify-content-between">
        <img src="https://voguesg.s3.ap-southeast-1.amazonaws.com/wp-content/uploads/2025/09/16231748/conrad-fisher-tsitp-banner.jpg" width="225" height="224" />
        @* <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR_qydwbyfzBseOkXvF2to4jax9f5yN6unb5g&s" width="225" height="224" /> *@
        <img src="https://vintagerugged.wordpress.com/wp-content/uploads/2015/05/new-elegant-dark-brown-vintage-home-storage-box-wicker-font-b-picnic-b-font-font-b.jpg" width="225" height="224" />
        <img src="https://www.freshelementsrestaurant.com.np/wp-content/uploads/2023/09/korean-sushi.jpg" width="225" height="224" />
        <img src="https://raydarmagazine.com/wp-content/uploads/2025/03/Blue-Dress-Outfits-9-819x1024.jpg" width="225" height="224" />
    </div>
</div>
</body>
